<HTML>
<HEAD>
<TITLE>domaine [NAME] chez GLABELLE.net</TITLE>
</HEAD>

<BODY>
<H1>Bienvenue sur la page web du domaine <EM>[NAME]</EM></H1>
Pour toute information, contactez [SERVERADMIN]<BR/>
Hébérgé par [HOST]
</BODY>
