LogFile [LOGS]/access.log.1
OutputDir [ROOT]
Incremental yes
ReportTitle Usage statistics for
HostName [DOMAIN]

PageType        htm*
PageType        cgi
#PageType       phtml
PageType        php3
#PageType       pl
PageType        php

HideURL         *.gif
HideURL         *.GIF
HideURL         *.jpg
HideURL         *.JPG
HideURL         *.png
HideURL         *.PNG
HideURL         *.ra

SearchEngine    yahoo.com       p=
SearchEngine    altavista.com   q=
SearchEngine    google.com      q=
SearchEngine    eureka.com      q=
SearchEngine    lycos.com       query=
SearchEngine    hotbot.com      MT=
SearchEngine    msn.com         MT=
SearchEngine    infoseek.com    qt=
SearchEngine    webcrawler      searchText=
SearchEngine    excite          search=
SearchEngine    netscape.com    search=
SearchEngine    mamma.com       query=
SearchEngine    alltheweb.com   query=
SearchEngine    northernlight.com  qr=
SearchEngine    sensis.com.au   find=
SearchEngine    google.nl       q=
SearchEngine    google.fr       q=
SearchEngine    google.ch       q=
SearchEngine    google.ca       q=
SearchEngine    google.be       q=

